<%= stylesheet_link_tag 'hyrax/active_encode/hyrax_active_encode' %>

<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Transcoding Dashboard</h1>

  <table id="active_encode_encode_records" style="width: 100%;"  data-turbolinks="false">
    <thead>
      <tr>
        <th>Status</th>
        <th>ID</th>
        <th>Progress</th>
        <th>Filename</th>
        <th>Fileset</th>
        <th>Work</th>
        <th>Job Started</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>

<script>
$(document).ready( function () {
  $('#active_encode_encode_records').dataTable({
    stateSave: true,
    processing: true,
    serverSide: true,
    ajax: {
      url: '<%= hyrax_active_encode.paged_index_encode_records_url %>',
      type: 'POST'
    }
  })
});
</script>
